We will do unsuervised learning to find the get geo loactions to setup detectors for UFO

In [11]:
import pandas as pd
from sklearn.cluster import KMeans
import numpy as np
import matplotlib as mp

Importing dataset

In [8]:
df = pd.read_csv('ufo_fullset.csv')

In [9]:
df.head()

,reportedTimestamp,eventDate,eventTime,shape,duration,witnesses,weather,firstName,lastName,latitude,longitude,sighting,physicalEvidence,contact,researchOutcome
0,1977-04-04T04:02:23.340Z,1977-03-31,23:46,circle,4,1,rain,Ila,Bashirian,47.329444,-122.578889,Y,N,N,explained
1,1982-11-22T02:06:32.019Z,1982-11-15,22:04,disk,4,1,partly cloudy,Eriberto,Runolfsson,52.664913,-1.034894,Y,Y,N,explained
2,1992-12-07T19:06:52.482Z,1992-12-07,19:01,circle,49,1,clear,Miller,Watsica,38.951667,-92.333889,Y,N,N,explained
3,2011-02-24T21:06:34.898Z,2011-02-21,20:56,disk,13,1,partly cloudy,Clifton,Bechtelar,41.496944,-71.367778,Y,N,N,explained
4,1991-03-09T16:18:45.501Z,1991-03-09,11:42,circle,17,1,mostly cloudy,Jayda,Ebert,47.606389,-122.330833,Y,N,N,explained

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18000 entries, 0 to 17999
Data columns (total 15 columns):
reportedTimestamp    18000 non-null object
eventDate            18000 non-null object
eventTime            18000 non-null object
shape                17998 non-null object
duration             18000 non-null int64
witnesses            18000 non-null int64
weather              18000 non-null object
firstName            18000 non-null object
lastName             18000 non-null object
latitude             18000 non-null float64
longitude            18000 non-null float64
sighting             18000 non-null object
physicalEvidence     18000 non-null object
contact              18000 non-null object
researchOutcome      18000 non-null object
dtypes: float64(2), int64(2), object(11)
memory usage: 1.3+ MB

Lets plot to get a sense of data